<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <!-- ===== ===== Custom Css ===== ===== -->
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="site/responsive.css">

    <!-- ===== ===== Remix Font Icons Cdn ===== ===== -->
    <link rel="stylesheet" href="site/fonts/remixicon.css">
</head>

<body>
    <!-- ===== ===== Body Main-Background ===== ===== -->
    <span class="main_bg">

    </span>
    <header>
      <a href="/to-index" class="logo"><img src="https://psv4.userapi.com/c236331/u605692609/docs/d24/c830bf8217cc/logo.png?extra=SxcXF5To9uxYLykXjgOgzRVve6SwUzLUPSl9fzg0dRiqDzwog0MOJWquve_P_9pC087_iNpGnhgtae-UbAMgU9xwG3oQl_WkNtqpZ6Opj-BH6ol9n67x5Wrx996E9hX3RB3Sqgy1GwCiiRvVoZ7IZXqhXA" alt=""></a>
      <div class="bx bx-menu" id="menu-icon"></div>

      <ul class="navbar">
          <li><a href="/index">Home</a></li>
          <li><a href="#shop">Services</a></li>
          <li><a href="#delivery">About</a></li>
          <li><a href="#app">Plans</a></li>
          <li><a href="#about">Calculator</a></li>
          <li><a href="#contact">Contact</a></li>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
    </svg>
      </ul>
    </header>

    <!-- ===== ===== Main-Container ===== ===== -->
    <div class="container">
        <!-- ===== ===== Header===== ===== -->


        <!-- ===== ===== User Main-Profile ===== ===== -->
        <section class="userProfile card">
            <div class="profile">
                <figure><img src="site/img/alm.png" alt="profile" width="250px" height="250px"></figure>
            </div>
        </section>


        <!-- ===== ===== Work & Skills Section ===== ===== -->
        <section class="work_skills card">

            <!-- ===== ===== Work Contaienr ===== ===== -->

            <!-- ===== ===== Skills Contaienr ===== ===== -->
            <div class="skills">
                <h1 class="heading">Goals</h1>
                <ul>
                    <li style="--i:0">Gain 5 kg</li>
                    <li style="--i:1">Maintain healthy lifestyle</li>
                    <li style="--i:2">Improve mental health</li>
                    <li style="--i:3">
                      Improve body quality
                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== User Details Sections ===== ===== -->
        <section class="userDetails card">
            <div class="userName">
                <h1 class="name">Almira </h1>
                <div class="map">
                    <i class="ri-map-pin-fill ri"></i>
                    <span>Astana, KZ</span>
                </div>
                <p></p>
            </div>

            <div class="rank">
                <h1 class="heading">Healthy days</h1>
                <span>25</span>
                <div class="rating">
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill rate"></i>
                    <i class="ri-star-fill underrate"></i>
                </div>
            </div>

            <div class="btns">
                <ul>
                    <li class="sendMsg">
                        <i class="ri-chat-4-fill ri"></i>
                        <a href="#">Achievements</a>
                    </li>

                    <li class="sendMsg active">
                        <i class="ri-check-fill ri"></i>
                        <a href="#">Tracker</a>
                    </li>

                    <li class="sendMsg">
                        <a href="#">Workouts</a>
                    </li>
                </ul>
            </div>
        </section>


        <!-- ===== ===== Timeline & About Sections ===== ===== -->
        <section class="timeline_about card">
            <div class="tabs">
                <ul>
                    <li class="timeline">
                        <i class="ri-eye-fill ri"></i>
                        <span>Timeline</span>
                    </li>

                    <li class="about active">
                        <i class="ri-user-3-fill ri"></i>
                        <span>About</span>
                    </li>
                </ul>
            </div>

            <div class="contact_info">
                <h1 class="heading">Contact Information</h1>
                <ul>
                    <li class="phone">
                        <h1 class="label">e-mail:</h1>
                        <span class="info">211376@astanait.edu.kz</span>
                    </li>



                </ul>
            </div>

            <div class="basic_info">
                <h1 class="heading">Basic Information</h1>
                <ul>
                    <li class="birthday">
                        <h1 class="label">Birthday:</h1>
                        <span class="info">Apr 1, 2004</span>
                    </li>

                    <li class="sex">
                        <h1 class="label">Gender:</h1>
                        <span class="info">Female</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</body>

</html>
